.header {
    background-image: linear-gradient(to bottom, rgba(#090604, .65), rgba(#090604, .8)), url(../../img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
}